* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  padding-inline: 1rem;
  color: white;
  background: #212121;

  display: flex;
  align-items: center;
  justify-content: center;
}

.lamp {
  width: fit-content;
  display: block;
  outline: none;
  border: none;
  padding: 2rem;
  border-radius: 50%;
  background: #31313180;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.lamp:hover {
  background: #313131;
}

.lamp svg {
  fill: #a6a6a680;
}

.lamp:has(input:checked) svg {
  fill: #04aa6d;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  width: 100%;
  max-width: 25rem;
  padding: 1.5rem;
  border-radius: 1rem;
  border: 1px solid #eceff180;

  background: #11111180;
}

.controller {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
}

.intro {
  font-size: 1rem;
  color: #b9b9b9;
}

.element {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.element label {
  width: 100%;
  font-weight: 500;
  text-align: left;
}

.element input {
  width: 100%;
  padding: 0.7rem 0.7rem;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: large;
}

button[type="submit"] {
  margin-top: 0.5rem;
  width: 100%;
  color: white;
  padding: 0.7rem 0.7rem;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: large;
  cursor: pointer;
  background: #353535;
  border: 1px solid #eceff140;
  transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background: #242424;
  border: 1px solid #c7c8c980;
}

.link {
  font-size: 0.8rem;
  color: white;
}
