* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  padding-inline: 1rem;
  color: white;
  background: #212121;

  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  width: 100%;
  max-width: 25rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #eceff180;

  background: #11111180;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
}

.intro {
  font-size: 1rem;
  color: #b9b9b9;
}

.element {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
}

.element label {
  font-weight: 500;
}

.element input {
  padding: 0.7rem 0.7rem;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: large;
}

button {
  width: 100%;
  color: white;
  padding: 0.7rem 0.7rem;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: large;
  cursor: pointer;
  background: #04040480;
  border: 1px solid #eceff140;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background: black;
  border: 1px solid #c7c8c980;
}
